# 忽略文件夹
dist/**
data/*
# !data/dj
# data/dj/*
# !data/tt
# data/tt/*
!data/ttsel
data/ttsel/*
!data/ttsel/good-found-2022-0417-1945.csv
!data/ttsel/good-found-2022-0418-011852_80.csv
!data/ttsel/good-found-2022-0418-013047.csv
!data/ttsel/gf-2022-0418-013047.log
node_modules/**

# 忽略文件
yarn.lock
package-lock.json

!.gitkeep