# 忽略文件夹
dist/**
data/*
# !data/dj
# data/dj/*
# !data/tt
# data/tt/*
!data/djsel
data/djsel/*
!data/djsel/good-found-2022-0417-1945_100.csv
!data/djsel/good-found-2022-0418-011852_80.csv
!data/djsel/good-found-2022-0418-013047.csv
!data/djsel/gf-2022-0418-013047.log
!data/djsel/good-found-2022-0418-015706.csv
!data/djsel/page-found-id.json
!data/djsel/rank-fund-2022-0418-2308.csv
!data/djsel/rank-mix-2022-0418-2310.csv
!data/djsel/README.md
node_modules/**

# 忽略文件
yarn.lock
package-lock.json

!.gitkeep